{% extends "inverted_index/base.html" %}

{% block content %}
    <form method='post'>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Search">
    </form>
    <ul>
        {% if ranks %}
        <a>
            About {{ totalResult }} results ({{ consumedtime }} seconds)
        </a>
        {% endif %}
    </ul>
    <ul>
        {% for link, weight in ranks.items %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <ul>
                            <a href="//{{link}}" target="view_frame">
                                {{ link }}
                            </a>
                        </ul>
                        <ul>
                            <small>
                                {{weight}}
                            </small>
                        </ul>
                    </h3>
                </div>
                <div class="panel-body">
                    {{ entry.text|linebreaks }}
                </div>
            </div>
        {% empty %}
            <li>---</li>
        {% endfor %}
    </ul>
{% endblock content %}
